## Practice

1. Add models for student, subject and student_subject from previous lessons in SQLAlchemy.
2. Find all students` name that visited 'English' classes

```sql
CREATE TABLE student(
    id serial PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    age INT NOT NULL
);

CREATE TABLE subject(
    id serial PRIMARY KEY,
   	name VARCHAR(50) NOT NULL
);

CREATE TABLE student_subject(
    id serial PRIMARY KEY,
   	student_id INTEGER REFERENCES student(id),
    subject_id INTEGER REFERENCES subject(id)
);



INSERT INTO student(name, age) VALUES('Bae', 18), ('Eddy', 21), ('Lily', 22), ('Jenny', 19);

INSERT INTO subject(name) VALUES('English'), ('Spanish'), ('Chinese'), ('Math');

INSERT INTO student_subject(student_id, subject_id) VALUES(1, 1), (1, 2), (2, 3), (3, 1), (4, 4);



```

In [21]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, ForeignKey

Base = declarative_base()


class Student(Base):
    __tablename__ = 'student'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    age = Column(Integer)

    def __str__(self):
        return f'This is a student {self.name}. Age: {self.age}'

    def __repr__(self):
        return f'This is a student {self.name}. Age: {self.age}'


class Subject(Base):
    __tablename__ = 'subject'

    id = Column(Integer, primary_key=True)
    name = Column(String)

    def __str__(self):
        return f'This is a name of the subject {self.name}'

    def __repr__(self):
        return f'This is a name of the subject {self.name}'


class Student_Subject(Base):
    __tablename__ = 'student_subject'

    id = Column(Integer, primary_key=True)
    student_id = Column(Integer, ForeignKey('student.id'))
    subject_id = Column(Integer, ForeignKey('subject.id'))

    def __str__(self):
        return f'This is a name of the student {self.student_id} and subject that he/she attends {self.subject_id}'
    def __repr__(self):
        return f'This is a name of the student {self.student_id} and subject that he/she attends {self.subject_id}'

In [19]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine

DATABASE_URI = 'postgresql://{user}:{password}@{host}:{port}/{database}'


engine = create_engine(
    DATABASE_URI.format(
        host='localhost',
        database='postgres',
        user='postgres',
        password='Slava270602',
        port=5432,
    )
)

Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()
session.close()

2. Find all students` name that visited 'English' classes 

```sql

SELECT student.name, subject.name
FROM student 
INNER JOIN student_subject ON student.id = student_subject.student_id
INNER JOIN subject ON subject.id = student_subject.subject_id
WHERE subject.name = 'English'

```

In [24]:

students_english = session.query(Student.name, Subject.name).join(
                                Student_Subject, Student.id == Student_Subject.student_id
                                ).join(Subject, Subject.id == Student_Subject.subject_id).filter(Subject.name == 'English').all()
print(students_english)

[('Bae', 'English'), ('Lily', 'English')]